[package]
name = "supacortex-desktop"
version = "0.1.0"
description = "Supacortex desktop app"
authors = ["yogesharc"]
license = ""
repository = ""
edition = "2021"
rust-version = "1.77.2"

[lib]
name = "app_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2.5.4", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
log = "0.4"
tauri = { version = "2.10.0", features = ["macos-private-api", "unstable"] }
tauri-plugin-log = "2"
tauri-plugin-shell = "2"
window-vibrancy = "0.6"
url = "2"
